* {
	font-family: Helvetica;
}
header,
footer {
	background-color: sienna;
	color: white;
	padding: 10px;
	text-align: center;
}
footer {
	clear: both;
}
#left,
#right {
	background-color: navajowhite;
	width: 15%;
	height: 700px;
	float: left;
}
#mid {
	width: 70%;
	height: 700px;
	overflow: scroll;
	float: left;
}
img {
	width: 100%;
}
#skrypt1 {
	float: left;
	width: 46%;
	margin: 2%;
	position: relative;
}
#skrypt1 img:hover {
	opacity: 0.3;
	transition: 0.5 ease;
}
#skrypt1 h3:hover {
	opacity: 1;
}
#skrypt1 p:hover {
	opacity: 1;
}
#skrypt1 a:hover {
	opacity: 1;
}
h3,
p,
a {
	opacity: 0;
	position: relative;
}
h3 {
	top: 5%;
}
p {
	top: 30%;
}
a {
	top: 70%;
	left: 70%;
	background-color: sienna;
	padding: 15px;
}
