body {
	background-color: #f6e5dc;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
	background-color: #2f180c;
	text-align: center;
	color: khaki;
	height: 60px;
}

section {
	width: 60%;
	float: left;
}

aside {
	font-size: 150%;
	padding: 70px;
	float: left;
}

article {
	background-color: #d0b6a8;
	text-align: center;
	padding: 30px;
	clear: both;
}

footer {
	background-color: #2f180c;
	color: khaki;
	height: 60px;
}

img {
	height: 350px;
}

.przycisk {
	margin: 10px;
	padding: 5px;
	background-color: #2f180c;
	color: khaki;
}
