* {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	text-align: center;
}
header,
footer {
	background-color: rgb(120, 0, 46);
	color: white;
	padding: 5px;
	font-size: 150%;
}
menu {
	background-color: rgb(163, 20, 87);
	text-align: left;
	margin: 0;
}

main {
	background-color: snow;
	color: olivedrab;
	width: 60%;
	height: 322px;
	text-align: left;
	float: left;
}

aside {
	background-color: rgb(173, 20, 87);
	width: 40%;
	height: 322px;
	float: left;
}

#samochod {
	margin: 40px;
	padding: 10px;
}

#samochod:hover {
	border: 1px yellowgreen dotted;
}

a {
	padding: 0px 50px 0px 50px;
}

table,
td {
	border: 1px solid olivedrab;
}

table {
	width: 90%;
}

footer {
	clear: both;
}
